@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

:root {
}
/*=============== LAYOUT ===============*/
.home {
  overflow: hidden;
  height: 100vh;
  background-color: #dd8e6a;
}

.container {
  max-width: 100%;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.xl-title {
  font-size: 6rem;
  color: #fff;
  margin-bottom: 2rem;
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
}
.l-title {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*=============== HEADER ===============*/
header {
  position: absolute;
  z-index: 3;
}
.nav-menu {
  padding: 20px;
}
.nav-logo {
  width: 120px;
}

/*=============== PARALAX ===============*/
.paralax {
  display: flex;
  position: relative;
  justify-content: center;
}
.paralax-img,
.paralax-img-mountain,
.paralax-img-sun,
.paralax-img-cloud-r,
.paralax-img-cloud-l {
  position: absolute;
  height: 100vh;
}
.paralax-img-mountain {
  z-index: 1;
}
.paralax-img-cloud-r {
  z-index: 2;
}

/*=============== HOME ===============*/

.home-content {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 2;
}
.scrolldown {
  position: absolute;
  z-index: 4;
  bottom: 11%;
  font-size: 2rem;
  color: #fff;
  rotate: 270deg;
}
.scrolldown::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 356px;
  background-color: #fff;
  rotate: 90deg;
  left: 40px;
  bottom: -180px;
}

@media (min-width: 1200px) {
  .paralax-img,
  .paralax-img-mountain,
  .paralax-img-sun,
  .paralax-img-cloud-l {
    width: 105vw;
    height: auto;
    top: -200px;
  }
}
.paralax-img-cloud-r {
  width: 100vw;
  height: auto;
  top: -100px;
}
